# https://developers.home-assistant.io/docs/add-ons/configuration#add-on-config
name: iSponsorBlockTV add-on
version: "2.6.1"
slug: isponsorblocktv
description: SponsorBlock client for all YouTube TV clients.
url: "https://github.com/bertybuttface/addons/tree/main/isponsorblocktv"
arch:
  - aarch64
  - amd64
init: false
map:
  - share:rw
options:
  devices: []
  channel_whitelist: []
  skip_categories: []
  skip_count_tracking: false
  mute_ads: false
  skip_ads: true
  auto_play: true
  minimum_skip_length: 1
  join_name: "iSponsorBlockTV"
schema:
  apikey: password? # get youtube apikey: https://developers.google.com/youtube/registering_an_application
  devices:
    - name: str?
      screen_id: str
      offset: int?
  channel_whitelist:
    - id: str
      name: str
  skip_categories:
    - match(^.*(sponsor|selfpromo|exclusive_access|interaction|poi_highlight|intro|outro|preview|filler|music_offtopic).*$)
  skip_count_tracking: bool
  mute_ads: bool
  skip_ads: bool
  auto_play: bool
  minimum_skip_length: int?
  join_name: str?
image: "ghcr.io/bertybuttface/{arch}-addon-isponsorblocktv"
host_network: true
